.header {
  position: fixed;
  display: flex;
  background-color: #1a2456 !important;
  color: #ff8b68;
  padding: 0.5rem;
  z-index: 100;
  left: 1rem;
  right: 1rem;
  top: 1rem;
}
.header .logo {
}

.header .links {
  display: flex;
  margin-left: auto;
  align-items: center;
  text-transform: uppercase;
}
.header .links a {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cart-button button {
  background-color: #1a2456;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* .dropdown {
  margin: 0;
  padding: 0;
  font-size: inherit;
  background-color: #1a2456;
  color: #ff8b68;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
} */

.dropdown-menu {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu li {
  display: inline;
}
